.skin-blue .main-header .navbar {
    background-color: #003865;
}

.skin-blue .main-header .logo {
    background-color: #b30c00;
    color: #fff;
    border-bottom: 0 solid transparent;
    padding-right: 50px;
}

.skin-blue .main-header .logo:hover {
    background-color: #003865;
}

aside#controlbarId {
    display: none;
}

body{
  overflow-x: auto;
  min-height: 50vh !important;
}

.wrapper{
  overflow-x: inherit;
  max-height: 100vh;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.content-50{
  max-height: 50vh;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #003865;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    background-color: #b30c00;
    margin-left: -50px;
    width: 50px;
    text-align: center;
}

#window-data-type {
    color: white;
    padding-top: 5px;
}

.no-form .form-group {
    margin-bottom: 0;
    display:flex;
}

.no-form .control-label {
  padding-right: 10px;
}

#home-logo{
  max-height: 20vh;
}

.footer-img {
  max-width: 25vw;
}

.cnma-table {
  overflow-x: scroll;
}

.cnma-table th, .cnma-table td, .cnma-table tr {
    border: 1px solid rgba(0, 117, 176, 0.2) !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vis-network canvas {
    border: 1px solid #003865;
}

.nihr-img {
  max-height: 10vh;
}

.crsu-img {
  max-height: 10vh;
}

@media (max-width: 767px){
  .skin-blue .main-header .navbar .sidebar-toggle {
    margin-left: 0;
  }
}

@media (min-width: 768px){
  .sidebar-mini.sidebar-collapse .main-header .logo {
    float: right;
    width: 300px;
  }
  .sidebar-mini.sidebar-collapse #window-data-type {
    margin-left: 300px;
  }
}

@media (min-width: 768px){
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 300px;
    position: absolute;
    left: 50px;
    z-index: 9999;
  }
  .sidebar-mini.sidebar-collapse #window-data-type {
    margin-left: 300px;
  }
}

@media (max-width: 767px){
  .main-header .logo {
    float: left;
    width: 250px;
    z-index: 9999;
    position: inherit;
  }
  .footer-img {
    max-width: 50vw;
    padding-bottom: 5px;
  }
  .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer{
    max-width: 100vw;
    padding-right: 300px;
  }
}

@media (max-width: 230px) {
  html{
    overflow-x: scroll;
  }
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu, .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
    width: 300px;
}

.treeview-menu {
  display: block !important;
}

.sidebar-menu li>a>.fa-angle-left {
  display: none !important;
}

body:not(.sidebar-collapse) .treeview > a:first-child {
  pointer-events: none;
}

.alert-help {
  background-color: #84b7e0 !important;
  color: #000 !important;
}

div#upset_plot-upset_plot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}